<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap-custom.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/explore.css">
    <title><%= title %></title>
</head>
<body>
    <div class="container-fluids">
        <div class="wrapper">
            <%- include('general/header') -%>
            <div class="explore-header">
                <div class="search-container">
                    <div class="search-wrapper">
                        <div class="search-header">
                            <div class="search-title">
                                <h2>Search By</h2>
                            </div>
                            <div class="search-type">
                                <span><%= typeof(data) != "undefined" ? typeof(data.type) != "undefined" ? data.type : "All" : "All" %></span>
                                <i class="toggle">
                                    <svg height="24px" viewBox="0 0 24 24" width="24px" class="log-icon"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
                                </i>
                            </div>
                            <div class="search-options">         
                                <div class="search-option-list">
                                    <div class="search-list-close">&times;</div>
                                    <ul class="search-list">
                                        <li class="active">All</li>
                                        <li>Location</li>
                                        <li>Hostel</li>
                                        <li id="price">Price</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="search-body">
                            
                            <form action="/getProperties" method="POST" enctype="application/x-www-form-urlencoded" class="search-form form-group">
                                <div class="form-wrapper">
                                    <div class="invalid"></div>
                                    <div class="form-group">
                                        <input type="text" class="type" name="type" hidden aria-hidden
                                        value='<%= typeof(data) != "undefined" ? typeof(data.type) != "undefined" ? data.type : "All" : "All" %>'>
                                        <textarea
                                        cols="10" rows="1"
                                         class="form-control search"
                                          name="search_text"
                                           placeholder="Search for a property"
                                           ></textarea>
                                        
                                        <div class="svg-search">
                                            <button id="submit-button" type="button">
                                                <i>
                                                    <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
                                                </i>
                                            </button>
                                        </div>
                                    </div>                        
                                    <div class="on-search-box">
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result-container">
                <div class="result-wrapper">
                    <div class="result-title">
                        <h4>Search results</h4>
                    </div>
                    <div class="row card-wrappers">
                       <%- include('properties') -%>
                    </div>
                    <div class="see-more-wrap">
                        <% if(typeof(skip) != "undefined" && typeof(skip) != "null") { %>              
                            <a href="/explore?<%= typeof(data) != 'undefined' ? `search_text=${data.search_text}&type=${data.type}&`: '' %>skipper=<%= skip %>" class="see-more">
                                <span>See More</span>
                            </a>
                        <% }else{ %>
                            <% if(typeof(not_found) != "undefined"){ %>
                                <% if(not_found != "No available property yet, Trying to get property around the country") { %>
                                    <span>no result found</span>
                                <% } %>
                            <% } %>
                        <% } %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('general/footer') -%>
    <script>
        let s = "<%= typeof(data) != 'undefined' ? data.search_text : '' %>",
        t = "<%= typeof(data) != 'undefined' ? data.type : 'All' %>",
        l = document.querySelectorAll('.search-list li');

        if(s){
            document.querySelector('textarea').textContent = s;

            if(t != ""){
                l.forEach((el, i)=>{
                    el.classList.remove('active')
                    
                })
                switch (t) {
                    case "All":
                        l[0].classList.add('active')
                        break;
                    case "Location":
                        l[1].classList.add('active')
                        break;
                    case "Hostel":
                        l[2].classList.add('active')
                        break;
                    case "Price":
                        l[3].classList.add('active')
                        break;
                    default:
                        break;
                }              
            }
        }


    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/explore.js"></script>
</body>
</html>