<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap-custom.css">
    <link rel="stylesheet" href="../css/icons.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/member-index.css">
    <title><%= title %></title>
</head>
<body>
    <div class="container-fluids">
        <div class="wrapper">
            <%- include('general/header') -%>
            <section class="login-section">
                <div class="login-section-wrapper row">
                    <div class="section-header col-5">
                        <div class="section-title">
                            <h1>Welcome back to the board,<br> <div>Fill the form let upload more explore.</div></h1>
                        </div>
                    </div>
                    <div class="login-section-body col-7">
                        <form action="#" method="POST" class="form-group sign_in_form">
                            <div class="form-wrapper">
                                <div class="title-wrap">
                                    <h3 class="sign_in_text">Login</h3>
                                </div>
                                <%- include('validation') -%>
                                <div class="form_group_wrapper sign_in_wrapper">
                                    <div class="login_details details">
                                        <input
                                         type="email"
                                          name="userEmail"
                                           class="form-control"
                                            placeholder="Enter your Email"
                                             value="<% if(data != '') { %>
                                                       <%= data[0].userEmail %>                                              
                                                     <% } %>"
                                              required>
                                        <div class="invalid-feedback">
                                            Email is invalid or empty
                                        </div>
                                    </div>
                                    <div class="password_detail">
                                        <input 
                                        type="password"
                                         id="userPassword_sign_in"
                                          name="userPassword"
                                           placeholder="Enter your password"
                                            class="p form-control"
                                             value="<% if(data != '') { %><%= data[0].userPassword.trim() %><% } %>"
                                            required>
                                        <div class="eye">
                                            <i id="s_h"><img src="/icons/visible-eye.svg" alt=""></i>
                                        </div>
                                        <div class="invalid-feedback">
                                            Required*
                                        </div>
                                    </div>
                                    <button class="login-link submit_button btn">Login in</button>
                                    <div class="forgotten-password-wrapper">
                                        <a href="/membership/email_getter" class="forgot">Forgotten password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="linker">
                                <p>Don't have an account? <a href="/membership/register" class="Create">Create One</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="attractive-section">
                <div class="attractive-wrapper row">
                    <div class="attractive-text col-5">
                        <h1>
                            Lets Work Together, Lets Get Home Close To Needy. Making Life Easy Through <span class="membership-highlight">Membership</span>. <br><span class="key">
                                <span class="membership-highlight">Membership</span> is the key.
                            </span>
                        </h1>
                    </div>
                    <div class="attractive-image-wrapper col-5">
                        <div class="attractive-image">
                            <div class="image">
                                <img src="../images/memb4er.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <%- include('general/footer') -%>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script>
        
        !function(j){
            j(document).ready(()=>{
                j('.login-link').click(e => {
                    e.preventDefault();

                    const f = document.querySelector('.form-group');

                    if(!f.checkValidity()){
                        j(f).addClass('was-validated');
                        return
                    }
                    j(f).attr('action', "/member/login").attr("method","POST").submit()
                }),
                j("#s_h").click(()=>{
                    console.log("clicked")
                    j('.p').attr("type") == "password" ?
                     j('.p').attr("type","text") :
                      j('.p').attr('type','password');
                      j('.p').focus();

                      j('#s_h img').attr("src") == "/icons/visible-eye.svg" ?
                        j('#s_h img').attr("src" , "/icons/hidden-eye.svg") :
                        j('#s_h img').attr("src" , "/icons/visible-eye.svg") ;
                            
                }),
                j(j(".links .link")[2]).addClass("active"),
                setTimeout(()=>{
                    j('.alert').fadeOut(1000)
                },7000)
                j('.menu').click(()=>{
                    j('.navigator-wrapper').addClass('active');
                    j('.menu').fadeOut(200)
                }),
                j('.close').click(()=>{
                    j('.navigator-wrapper').removeClass('active');
                    j('.menu').fadeIn(1200);

                }),
                j('li.check-link').html(
                    '<a href="/" class="link">Home</a>'
                ).removeClass('check-link')
            })
        }(jQuery)
    </script>
</body>
</html>