<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap-custom.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/explore.css">
    <link rel="stylesheet" href="../css/member-dashboard.css">
    <title><%= title %></title>
</head>
<body>
    <div class="message">              
    </div>
    <div class="container-fluids">
        <div class="wrapper">
            <%- include('validation') -%>
            <header class="home-header">
                <div class="header-wrapper">
                    <div class="logo-wrapper">
                        <div class="logo-image">
                            <a href="/">
                                <img src="/images/logo.png" alt="" class="img-logo">
                            </a>
                        </div>
                    </div>
                    <div class="m-menu">
                        <%= user.firstname %>
                        <svg height="24px" viewBox="0 0 24 24" width="24px" class="log-icon"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
                    </div>
                    <div class="upload-link">                           
                        <a href="/membership/upload">
                            <svg height="24px" viewBox="0 0 24 24" width="24px" class="log-icon"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16h6v-6h4l-7-7-7 7h4v6zm3-10.17L14.17 8H13v6h-2V8H9.83L12 5.83zM5 18h14v2H5z"/></svg>
                            Upload More
                        </a>
                    </div>
                    <div class="linker">
                        <div class="m-close">&CircleTimes;</div>
                        <div class="profile-preview">
                            <div class="member-image ">
                                <img src="../images/user.png" alt="member-image" class="img-fluid rounded-circle">
                            </div>
                            <div class="member-title">
                                <div class="name">
                                    <%= user.firstname %>
                                </div>
                                <div class="email">
                                    <%= user.email %>
                                </div>
                            </div>
                        </div>
                        <div class="linker-list-wrapper">
                            <ul class="linker-list">
                                <li class="list">
                                    <a href="/membership/profile" class="link">
                                        <svg enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" class="log-icon"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><circle cx="10" cy="8" r="4"/><path d="M10.67,13.02C10.45,13.01,10.23,13,10,13c-2.42,0-4.68,0.67-6.61,1.82C2.51,15.34,2,16.32,2,17.35V20h9.26 C10.47,18.87,10,17.49,10,16C10,14.93,10.25,13.93,10.67,13.02z"/><path d="M20.75,16c0-0.22-0.03-0.42-0.06-0.63l1.14-1.01l-1-1.73l-1.45,0.49c-0.32-0.27-0.68-0.48-1.08-0.63L18,11h-2l-0.3,1.49 c-0.4,0.15-0.76,0.36-1.08,0.63l-1.45-0.49l-1,1.73l1.14,1.01c-0.03,0.21-0.06,0.41-0.06,0.63s0.03,0.42,0.06,0.63l-1.14,1.01 l1,1.73l1.45-0.49c0.32,0.27,0.68,0.48,1.08,0.63L16,21h2l0.3-1.49c0.4-0.15,0.76-0.36,1.08-0.63l1.45,0.49l1-1.73l-1.14-1.01 C20.72,16.42,20.75,16.22,20.75,16z M17,18c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S18.1,18,17,18z"/></g></g></svg>
                                        Profile
                                    </a>
                                </li>                                
                                <li class="list">
                                    <a class="active" href="/membership/dashboard">
                                        <svg height="20px" viewBox="0 0 24 24" width="27px" class="log-icon"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/></svg>
                                        Dashboard
                                    </a>
                                </li>
                                <li class="list">
                                    <a href="/membership/upload">
                                        <svg height="24px" viewBox="0 0 24 24" width="24px" class="log-icon"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16h6v-6h4l-7-7-7 7h4v6zm3-10.17L14.17 8H13v6h-2V8H9.83L12 5.83zM5 18h14v2H5z"/></svg>
                                        Upload
                                    </a>
                                    
                                </li>
                                <li class="list">
                                    <a href="/membership/settings">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="log-icon" height="24px" viewBox="0 0 24 24" width="24px" class="log-icon"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19.43 12.98c.04-.32.07-.64.07-.98 0-.34-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.09-.16-.26-.25-.44-.25-.06 0-.12.01-.17.03l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.06-.02-.12-.03-.18-.03-.17 0-.34.09-.43.25l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98 0 .33.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.09.16.26.25.44.25.06 0 .12-.01.17-.03l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.06.02.12.03.18.03.17 0 .34-.09.43-.25l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-1.98-1.71c.04.31.05.52.05.73 0 .21-.02.43-.05.73l-.14 1.13.89.7 1.08.84-.7 1.21-1.27-.51-1.04-.42-.9.68c-.43.32-.84.56-1.25.73l-1.06.43-.16 1.13-.2 1.35h-1.4l-.19-1.35-.16-1.13-1.06-.43c-.43-.18-.83-.41-1.23-.71l-.91-.7-1.06.43-1.27.51-.7-1.21 1.08-.84.89-.7-.14-1.13c-.03-.31-.05-.54-.05-.74s.02-.43.05-.73l.14-1.13-.89-.7-1.08-.84.7-1.21 1.27.51 1.04.42.9-.68c.43-.32.84-.56 1.25-.73l1.06-.43.16-1.13.2-1.35h1.39l.19 1.35.16 1.13 1.06.43c.43.18.83.41 1.23.71l.91.7 1.06-.43 1.27-.51.7 1.21-1.07.85-.89.7.14 1.13zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
                                        Settings
                                    </a>
                                </li>
                                <li class="list">
                                    <a href="#" class="link">
                                        <svg height="24px" viewBox="0 0 24 24" width="24px" class="log-icon"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16h6v-6h4l-7-7-7 7h4v6zm3-10.17L14.17 8H13v6h-2V8H9.83L12 5.83zM5 18h14v2H5z"/></svg>
                                        Updates
                                    </a>
                                </li>
                                <li class="list">
                                    <a href="/membership/verification" class="link">
                                        <svg height="24px" viewBox="0 0 24 24" width="24px" class="log-icon"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>
                                        Verification
                                    </a>
                                </li>
                                <li class="list">
                                    <a href="/logout" class="logout">
                                        <svg height="24px" viewBox="0 0 24 24" width="24px" class="log-icon"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <section class="uploads-section">
                <div class="dashboard-header">
                    <div class="dashboard-header-title">
                        <div class="dashboard-text">
                            <svg height="26px" viewBox="0 0 24 24" width="27px" class="log-icon"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/></svg>
                            <span>DASHBOARD</span>
                        </div>
                        <h2>Welome back to the board, <strong><%= //name %></strong></h2>
                    </div>
                </div>
                <div class="member-uploads-container">
                    <div class="member-uploads-wrapper">
                        <div class="large-title">
                            <div class="large-title-wrapper">
                                <div class="large-title-text">
                                    <h1>Your uploads</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row card-wrappers">
                            <%- include('member_uploads') -%>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <%- include('general/footer') -%>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/member-custom.js"></script>
</body>
</html>